################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EIdConsoleApp/bin/Debug
/EIdConsoleApp/obj/Debug
/.vs/EIdConsoleApp
